html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-weight: 800;
}

ul {
    list-style-type: none;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

ul li p {
    text-align: center;
    font-weight: 800;
    font-size: 17px;
}

ul li {
    padding: 20px;
    width: 128px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    white-space: normal;
    flex-wrap: wrap;
}

p {
    text-align: center;
    font-size: larger;
    font-weight: 700;
}